
    *{
         margin:0;
         padding:0;}
    body{
        width:1000px;
        margin: 0 auto;
        
    }
    .top{
        margin:10px 0 0 20px;
    }
    .top_left{
        background:url("http://img.mukewang.com/53edadad0001efe202000070.jpg"
) no-repeat;
height:85px;
width:200px;
float:left;
    }
    .top_right{
        width:750px;
        height:85px;
    }
    .top_right li{
        list-style-type:none;
        float:left;
        width:80px;
        height:40px;
        line-height:40px;
        text-align:center;
        margin:15px 0  0 0;
    }
    .top_right a{
        display:inline-block;
        text-decoration:none;
        width:80px;
    }
    
    .top_right a:link,.top_right a:visited{
        color:black;
    }
    .top_right a:hover,.top_right a:active{
        background-color:red;}
    .ad {
  height: 320px;
  margin-top: 5px;}
  
  .nav_pic{
    margin-top: 10px;
  
  }
    
    
    .nav_pic li{
      height: 160px;
      border: 1px solid #ccc;
      width: 330px;
      float: left;
      list-style-type: none;
      margin-right:1px;
      text-align: center;
     
    }
    .nav_pic a,.content a{
        text-decoration: none;
    }
    .nav_pic span{
        
        font-weight: bold;
        font-size: 14px;
    }
    .nav_pic a:link,.nav_pic a:visited,.content a:link,.content a:visited{
        color: black;
    }
    .nav_pic a:hover,.nav_pic a:active,.content a:hover,.content a:active{
        color: red;
    }
    
    .nav_content{
        min-height: 300px;
        margin-top: 20px;
        
       
}
    .nav_content_left,.nav_content_mid,.nav_content_right{
        min-height: 300px;
        margin-top: 10px;
        float:left;
        border: 1px solid #ccc;
    }
    .content_title {
        background-color: #a00e0e;
        width: 330px;

       }
       span{
        padding-left: 30px;
        line-height: 30px;
       }
       .content li{
          list-style-type: none;
          
          margin-left:10;
          
 }
 
.content img{
    margin-top: 10px;
}


.bottom{
    clear: both;
    height: 30px;
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
}